.search-page-body {
  display: flex;
  flex-direction: column;

  .filter-container {
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
  }

  .show-list {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;

    .show-card {
      display: flex;
      align-items: center;
      border: 1px solid black;
      box-shadow: 2px 2px;
      margin-bottom: 1rem;
      font-size: 1rem;
      background-color: #d8f8ff;

      .img-container {
        height: 10rem;
        width: 7.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

        i {
          font-size: 1.5rem;
          margin-left: 1rem;
        }

        img {
          height: 10rem;
          width: 7.5rem;
        }
      }

      .show-information-container {
        width: 100%;
        font-family: $fontMontserratRegular;
        .show-title {
          font-size: 1.5rem;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .search-page-body {
    justify-content: center;
  }
}

//

@media (min-width: 2200px) {
  .show-list {
    .show-card {
      width: 19%;
    }

    div:nth-child(5n+1) {
      margin-right: 1.25%;
    }

    div:nth-child(5n+2) {
      margin-right: 1.25%;
    }

    div:nth-child(5n+3) {
      margin-right: 1.25%;
    }

    div:nth-child(5n) {
      margin-left: 1.25%;
    }
  }
}

@media (min-width: 1700px) and (max-width: 2199px) {
  .show-list {
    .show-card {
      width: 24.5%;
    }

    div:nth-child(4n+1) {
      margin-right: 0.66%;
    }

    div:nth-child(4n+2) {
      margin-right: 0.66%;
    }

    div:nth-child(4n) {
      margin-left: 0.66%;
    }
  }
}

@media (min-width: 1350px) and (max-width: 1699px) {
  .show-list {
    .show-card {
      width: 32%;
    }

    div:nth-child(3n+1) {
      margin-right: 2%;
    }

    div:nth-child(3n) {
      margin-left: 2%;
    }
  }
}

@media (min-width: 900px) and (max-width: 1349px) {
  .show-list {
    .show-card {
      width: 49%;
    }

    div:nth-child(2n) {
      margin-left: 2%;
    }
  }
}

@media (max-width: 900px) {
  .filter-container {
    justify-content: center;
  }
  .show-card {
    width: 100%;
  }
}
