.white-button-without-filling {
  color: $colorWhite;
  background: transparent;
  border: none;
}
.white-button-without-filling:enabled:active,
.white-button-without-filling:enabled:hover {
  background-color: $primaryMedium;
}
.white-button-without-filling:focus {
  box-shadow: none;
}

.icon-only-button-transparent {
  background-color: transparent;
  border: none;
}
.icon-only-button-transparent:enabled:active,
.icon-only-button-transparent:enabled:hover {
  background-color: transparent;
}
.icon-only-button-transparent:focus {
  box-shadow: none;
}

.button-icon-color-primary {
  span {
    color: $primaryDark;
  }
}
