.dropdown-white-no-filling {
  .p-dropdown {
    background-color: transparent;
    border: none;

    .p-dropdown-panel .p-dropdown-items {
      padding: 0;
    }

    // dropdown panel
    .p-dropdown-items-wrapper {
      background-color: #6d698c;
    }

    // dropdown panel item's text
    .p-dropdown-panel .p-dropdown-items-wrapper ul p-dropdownitem li {
      color: $colorWhite;
      text-transform: uppercase;
    }

    // dropdown panel item's hover
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
      background-color: #736f94;
      color: $colorWhite;
    }

    // dropdown panel item selected
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
      background-color: #5a577b;
    }

    .p-dropdown-label {
      color: $colorWhite;
      text-transform: uppercase;
    }

    .p-dropdown-trigger-icon {
      color: white;
      font-size: 0.7rem;
      margin-left: -1.5rem;
      margin-top: 0.25rem;
    }
  }

}
