.dropdown-white-no-filling {
  .p-dropdown {
    background-color: transparent;
    border: none;

    .p-dropdown-panel {
      top: 38px !important;
      border-radius: 10px 10px 10px 10px;

      .p-dropdown-items-wrapper {
        border-radius: 5px 5px 5px 5px;
      }

      .p-dropdown-items {
        padding: 0;
      }

      // dropdown panel item's text
      .p-dropdown-items-wrapper ul p-dropdownitem li {
        color: $colorWhite;
        text-transform: uppercase;
      }

      // dropdown panel item's hover
      .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
        background-color: $primaryLight;
        color: $colorWhite;
      }

      // dropdown panel item selected
      .p-dropdown-items .p-dropdown-item.p-highlight {
        background-color: $primaryDark;
      }
    }

    // dropdown panel
    .p-dropdown-items-wrapper {
      background-color: $primaryMedium;
    }

    .p-dropdown-label {
      color: $colorWhite;
      text-transform: uppercase;
    }

    .p-dropdown-trigger {
      width: 1rem;

      .p-dropdown-trigger-icon {
        color: white;
        font-size: 0.7rem;
        margin-top: 0.25rem;
      }
    }
  }

}
