.p-sidebar-right {
  background-color: $primaryDark;

  .p-sidebar-close-icon {
    color: white;
  }

  .p-sidebar-content {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 0.5rem;
    }
  }
}
