<div class="home-content">
  <img alt="" src="../../../assets/img/movie.png" class="undraggable-img">
  <div class="description-container">
    <div class="title">{{'home.siteDescription1' | translate}}</div>
    <div class="title">{{'home.siteDescription2' | translate}}</div>
  </div>
  <div class="description-underline">
    <img alt="" src="../../../assets/img/horizontal-line.png" class="undraggable-img filter-color-white">
    <i class="pi pi-star-fill star-icon"></i>
    <img alt="" src="../../../assets/img/horizontal-line.png" class="undraggable-img filter-color-white">
  </div>
</div>
